.container{
    background-color: var(--white);
    border-radius: .5rem;
}
.text{
    color: var(--purple);
    direction: rtl;
    text-align: center;
    font-family: "sahel",sans-serif;
    font-weight: 600;
}