.container{
    background-color: var(--white);
    border-radius: .5rem;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top:10vh ;
    overflow: hidden;
}
