

/* main color  */
:root{
    --black:#21094e;
    --purple:#511281;
    --white:#fdfdfd;
    --gray:rgb(245, 245, 245);
}
@font-face {
    font-family:"sahel" ;
    src: url("../fonts/Sahel.woff") format(woff);
}
body{
    background-color: var(--black);
    direction: rtl;
}
/* ===================================scroll bar =============== */
/* width */
::-webkit-scrollbar {
    width: .7rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--purple); 
    border-radius: 10px;
  }
  