

/* main color  */
:root{
    --black:#21094e;
    --purple:#511281;
    --white:#fdfdfd;
    --gray:rgb(245, 245, 245);
}
@font-face {
    font-family:"sahel" ;
    src: url("../fonts/Sahel.woff") format(woff);
}
body{
    background-color: var(--black);
    direction: rtl;
}