.contain {
    display: flex;
    align-items: center;
    padding: .25rem;
    background-color: var(--gray);
    margin-bottom: .5rem;
    transition: all .3s;
}
.contain:hover{
   padding-right: .5rem;
}

.info {
    font-family: 'sahel', sans-serif;
    color: var(--purple);
    height: 100%;
    min-height: 50px !important;
    margin-right: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 500;
}

.btn{
    color: red !important;
    margin-right: auto !important;
    font-size: .1rem !important;
}

.name {
    font-size: .8rem;
    margin-bottom: .5rem;
    font-weight: 700;
}

.counter {
    font-size: .7rem;
    margin: 0;
    font-weight: 500;
}

@media (min-width:576px) {
    .name {
        font-size: 1rem;
    }
    .counter {
        font-size: 1rem;
    }
    .info {
        margin-right: 1rem;
    }
}

@media (min-width:780px) {
    .name {
        font-size: 1.2rem;
    }
    .counter {
        font-size: 1.2rem;
    }
}